<p id="notice"><%= notice %></p>

<h1>Contests</h1>

<div style="overflow: scroll; overflow-y: hidden">
  <table class="calendar">
    <tbody>
        <tr>
          <% ((DateTime.now)..(DateTime.now + 180.days)).each do | date | %>
            <th><div><%= date.strftime("%m/%d") %></div></th>
          <% end %>
        </tr>
      <% @contests.each do |contest| %>
        <tr>
          <td colspan="<%= (contest.ends_at.to_datetime - Time.now.to_datetime).to_i %>">
            <strong><%= link_to contest.name, contest %></strong><br>
            <%= (contest.ends_at.to_datetime - Time.now.to_datetime).to_i %> days left
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Contest', new_contest_path %>
