<!DOCTYPE html>
<html>
  <head>
    <title>Songster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://raw.githubusercontent.com/0xfe/vextab/master/releases/vextab-div.js' %>
    <%= stylesheet_link_tag 'https://raw.githubusercontent.com/0xfe/vextab/master/releases/vextab.css' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
